.title {
    font-weight: 500;
    font-size: 16px;
    margin: 2px;
    color: midnightblue;

}

.title:hover {
    -webkit-transition: ease 150ms;
    -moz-transition: ease 150ms;
    -ms-transition: ease 150ms;
    -o-transition: ease 150ms;
    transition: ease 150ms;
}

.authorLink {
    color: black;
}

.authorLink:hover {
    color: pink;
    -webkit-transition: ease 150ms;
    -moz-transition: ease 150ms;
    -ms-transition: ease 150ms;
    -o-transition: ease 150ms;
    transition: ease 150ms;
}